In [5]:
import pandas as pd

# Part 1

In [40]:
data = pd.read_csv('input.csv', header=None)

In [41]:
data

        0
0    1028
1    1987
2    1938
3    1136
4    1503
..    ...
195  1967
196  1098
197  1287
198  1392
199  1932

[200 rows x 1 columns]

In [29]:
test = [1721, 979, 366, 299, 675, 1456]

In [19]:
len(test)

6

In [20]:
test[1]

979

In [21]:
test.pop()

1456

In [22]:
test

[1721, 979, 366, 299, 675]

In [31]:
for i in range(len(test) - 1):
    number = test.pop()
    
    for i in range(len(test)-1):
        if number + test[i] == 2020:
            result = testarr[i] * number

In [32]:
result

514579

In [45]:
input_list = data[0].to_list()

In [50]:
%%time 
for i in range(len(input_list) - 1):
    number = input_list.pop()
    
    for i in range(len(input_list)-1):
        if number + input_list[i] == 2020:
            result = input_list[i] * number

CPU times: user 2.92 ms, sys: 1 µs, total: 2.92 ms
Wall time: 2.93 ms

In [51]:
result

1018336

# Part 2

In [91]:
test2 = [1721, 979, 366, 299, 1456, 675]

In [99]:
for i in range(len(test2) - 2):
    number = test2.pop()
    
    for i in range(len(test2)-2):
        number2 = test2[i]
        for j in range(len(test2) -1): 
            if number + number2 + test2[j] == 2020:
                result2 = test2[i] * number2 * number

In [98]:
result2

241861950

In [103]:
input_list2 = data[0].to_list()

In [82]:
input_list2

[1028,
 1987,
 1938,
 1136,
 1503,
 1456,
 1107,
 1535,
 1946,
 1986,
 855,
 1587,
 1632,
 1548,
 1384,
 1894,
 1092,
 1876,
 1914,
 1974,
 1662,
 1608,
 2004,
 1464,
 1557,
 1485,
 1267,
 1582,
 1307,
 1903,
 1102,
 1578,
 1421,
 1184,
 1290,
 1786,
 1295,
 1930,
 1131,
 1802,
 1685,
 1735,
 1498,
 1052,
 1688,
 990,
 1805,
 1768,
 1922,
 1781,
 1897,
 1545,
 1591,
 1393,
 1186,
 149,
 1619,
 1813,
 1708,
 1119,
 1214,
 1705,
 1942,
 1684,
 1460,
 1123,
 1439,
 1672,
 1980,
 1337,
 1731,
 1203,
 1481,
 2009,
 1110,
 1116,
 1443,
 1957,
 1891,
 1595,
 1951,
 1883,
 1733,
 1697,
 1321,
 1689,
 1103,
 1300,
 1262,
 1190,
 1667,
 1843,
 1544,
 1877,
 1718,
 1866,
 1929,
 1169,
 1693,
 1518,
 1375,
 1477,
 1222,
 1791,
 1612,
 1373,
 1253,
 1087,
 1959,
 1970,
 1112,
 1778,
 1412,
 1127,
 1767,
 1091,
 1653,
 1609,
 1810,
 1912,
 1917,
 935,
 1499,
 1878,
 1452,
 1935,
 1937,
 968,
 1905,
 1077,
 1701,
 1789,
 1506,
 1451,
 1125,
 1686,
 1117,
 1991,
 1215,
 1776,
 1976,
 846,
 1923,
 1945,
 1888,
 1193,
 1146,
 1583,
 1315,
 1372,
 1963,
 1491,
 1777,
 1799,
 1363,
 1579,
 1367,
 1863,
 1983,
 1679,
 1944,
 1654,
 1953,
 1297,
 530,
 1502,
 1738,
 1934,
 1185,
 1998,
 1764,
 1856,
 1207,
 1181,
 1494,
 1676,
 1900,
 1057,
 339,
 1994,
 2006,
 1536,
 2007,
 644,
 1173,
 1692,
 1493,
 1756,
 1916,
 1890,
 1908,
 1887,
 1241,
 1447,
 1997,
 1967,
 1098,
 1287,
 1392,
 1932]

In [104]:
%%time 
for i in range(len(input_list2) - 2):
    number = input_list2.pop()

    for i in range(len(input_list2)-2):
        number2 = input_list2[i]
        for j in range(len(input_list2) -1): 
            if number + number2 + input_list2[j] == 2020:
                result3 = input_list2[j] * number2 * number

CPU times: user 495 ms, sys: 4.22 ms, total: 499 ms
Wall time: 504 ms

In [105]:
result3

288756720

In [71]:
input_list2

[1028]