In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('input.csv', header = None )

In [5]:
df

              0
0    BBFFBBFLRL
1    BFFFBBBRLL
2    FFBBFFFLLR
3    FBFBFFBRRL
4    FBBBBBFLLR
..          ...
838  FBFBBBBLRR
839  BBFFBFBLRL
840  FBBFBFFRLR
841  FBBFFFBLRR
842  BFBFBFFRRL

[843 rows x 1 columns]

In [6]:
# What is the highest seat ID on a boarding pass?

In [119]:
df.sort_values(by = 0)

              0  seat_id   diff
309  BBBFFFFLLL  896.125  0.125
773  BBFBBBBLLL  888.125  0.125
759  BBFBBBBLLR  889.250  1.125
786  BBFBBBBLRL  890.375  1.125
21   BBFBBBBLRR  891.500  1.125
..          ...      ...    ...
321  FFFFBBBRRL   62.875  1.125
541  FFFFBBBRRR   64.000  1.125
139  FFFFBBFRLR   53.750    NaN
102  FFFFBBFRRL   54.875  1.125
342  FFFFBBFRRR   56.000  1.125

[843 rows x 3 columns]

In [146]:
def find_id (row):
    upper_row = 127
    lower_row = 0
    upper_column = 7
    lower_column = 0

    for i in range(len(row)):
        if row[i] == 'B':
            lower_row = (lower_row + upper_row + 1)/ 2 
        elif row[i] == 'F':
            upper_row = (lower_row + upper_row - 1)/ 2
        elif row[i] == 'L':
            upper_column = (lower_column + upper_column - 1)/2
        else: 
            lower_column = (lower_column + upper_column + 1)/2 

    seat_id = lower_row*8 + lower_column
    
    return seat_id

In [147]:
df['seat_id'] = df[0].apply(lambda row: find_id(row))

In [151]:
df

              0  seat_id   diff
139  FFFFBBFRLR     53.0    NaN
102  FFFFBBFRRL     54.0  1.125
342  FFFFBBFRRR     55.0  1.125
348  FFFFBBBLLL     56.0  0.125
323  FFFFBBBLLR     57.0  1.125
..          ...      ...    ...
72   BBFBBBBRLL    892.0  1.125
570  BBFBBBBRLR    893.0  1.125
149  BBFBBBBRRL    894.0  1.125
453  BBFBBBBRRR    895.0  1.125
309  BBBFFFFLLL    896.0  0.125

[843 rows x 3 columns]

In [152]:
df.sort_values(by = 'seat_id', inplace = True)

In [153]:
df['diff'] = df.seat_id.diff()

In [154]:
df['diff'].unique()

array([nan,  1.,  2.])

In [159]:
df = df.dropna().reset_index(drop=True)

In [161]:
df[df['diff'] == 2]

              0  seat_id  diff
605  BFBFFBFRLL    660.0   2.0

In [162]:
df[603:607]

              0  seat_id  diff
603  BFBFFBFLLR    657.0   1.0
604  BFBFFBFLRL    658.0   1.0
605  BFBFFBFRLL    660.0   2.0
606  BFBFFBFRLR    661.0   1.0